# INSTRUCTIONS: To use git large file storage for all GIMP files, copy line 3 and replace ".lfs-init" with "*.xcf". To do the equivalent with Photoshop files, use "*.psd".

.lfs-init filter=lfs diff=lfs merge=lfs -text


# (NB: you can also do this for individual file names, which is all that ".lfs-init" is. This will save on storage quota by not using LFS for .xcf files below 100MB.)
